flask
flask-cors
transformers
google-generativeai
torch
sentencepiece
requests
beautifulsoup4
marked
python-dotenv
pymupdf
flask-limiter
faiss-cpu
sentence-transformers
PyJWT
firebase-admin>=6.2.0
gunicorn>=21.2.0